html{
    background-color: whitesmoke;
}

* {
  box-sizing: border-box; /* Makes width calculations predictable */
}

#sidebar{
    /*border: 1px solid black;*/
    display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: whitesmoke;
}
#main-dash{
    /*border: 1px solid black;*/
    margin-left: 10px;
    position: absolute;
    display: inline-block;
    width: 80vw;
    height: 100vh;
    background-color: whitesmoke;

}

#name{
    position: relative;
    text-align: center;
}
.side-options{
    text-align: center;
}
.side-options > div{
    margin-top: 80px;
}
.module-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}
.planner-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}

.alerts-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}
.profile-side{
     border: 2px solid #ddd;
     background-color: ghostwhite;
     height:50px;
     border-radius: 10px;

}

.upper-dash{
    position: relative;
    display: block;
    margin: 2px;
    height: 6%;
  
    background-color: whitesmoke;
}
.middle-dash{
    
    height: 40%;
    background-color: whitesmoke;
}
.lower-dash{
    margin-top: 20px;
    height: 45.1%;
    background-color: whitesmoke;
 
}
.middle-dash > div{
    display: inline-block;
    margin: 2px;
    width: 49.1%;
    height:100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    
}
.lower-dash > div{
    
    display: inline-block;
    margin-left: 0px;
    width: 49.1%;;
    height:100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    
}

.deadlines{
    background-color: ghostwhite;
}

.high-priority{
    background-color: ghostwhite;
}
.planner-dash{
    background-color: ghostwhite;
    margin-right: 6px;
}

.visual-dash{
    background-color: ghostwhite;
}

h2{
    margin-top:0;
    margin-bottom: 0;
}