html{
    background-color: #F6F7FB;
}

body{
    margin: auto 0;
}
* {
  box-sizing: border-box; /* Makes width calculations predictable */
  font-family: Inter, serif;
}

.logo-container{
    margin-top: 15px;
    display: flex;

}

h1{
    margin-top: 0;
    margin-bottom: 0;
    color:  #111827 ;
}
.logo{
    display: flex;
    height: 40px;
    width: auto;
}
#sidebar{
    /*border: 1px solid black;*/
    display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: #F6F7FB;
}
#main-dash{
    /*border: 1px solid black;*/
   
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    background-color:  #F6F7FB;

}

#name{
    position: relative;
    text-align: center;
}
.side-options{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 95%;
}

#module-side{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
;
    background-color: #FFFFFF;
    height:50px;
    border-radius: 10px;
    color: #4B5563  ;
}
#planner-side{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    height:50px;
    border-radius: 10px;
    color: #4B5563  ;
}

#alerts-side{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    height:50px;
    border-radius: 10px;
    color: #4B5563  ;
}
#profile-side{
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

     background-color: #FFFFFF;
     height:50px;
     border-radius: 10px;
     color: #4B5563  ;

}

.header{
    position: relative;
    display: block;
    height: 10vh;
    background-color: ghostwhite;
}
.middle-dash{
    display: flex;
    justify-content: space-around;
    height: 45%;
    background-color:  #F6F7FB;
}
.lower-dash{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 45%;
    background-color:  #F6F7FB;
 
}
.middle-dash > div{
    display: inline-block;
    width: 49.1%;
    height:100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-top: 10px;
    color: #4B5563  ;
    
}
.lower-dash > div{
    
    display: inline-block;
    margin-left: 0px;
    width: 49.1%;;
    height:100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    border-radius: 10px;
    color: #4B5563  ;
    
}

#deadlines{
    background-color: #FFFFFF;
    margin-right: 5px;
}

#high-priority{
    background-color: #FFFFFF;
}
#planner-dash{
    background-color: #FFFFFF;
    margin-right: 5px;
}

#visual-dash{
    background-color: #FFFFFF;
}

h2{
    margin-top:0;
    margin-bottom: 0;
}
.side-labels{
    margin-top: 15px;
    margin-bottom: 0;
}

.pressed{
    opacity: 0.5;
}



