html{
    background-color: #ddd;
}

* {
  box-sizing: border-box; /* Makes width calculations predictable */
  font-family: Inter, serif;
}

#sidebar{
    /*border: 1px solid black;*/
    display: inline-block;
    width: 20vw;
    height: 100vh;
    background-color: #ddd;
}
#main-dash{
    /*border: 1px solid black;*/
   
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    background-color: #ddd;

}

#name{
    position: relative;
    text-align: center;
}
.side-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#module-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}
#planner-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}

#alerts-side{
    border: 2px solid #ddd;
    background-color: ghostwhite;
    height:50px;
    border-radius: 10px;
}
#profile-side{
     border: 2px solid #ddd;
     background-color: ghostwhite;
     height:50px;
     border-radius: 10px;

}

.upper-dash{
    display: flex;
    background-color: ghostwhite;
}
.middle-dash{
    display: flex;
    height: 50%;
    background-color: #ddd;
}
.lower-dash{
    display: flex;
    height: 50%;
    background-color: #ddd;
 
}
.middle-dash > div{
    display: inline-block;
    width: 49.1%;
    height:100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    
}
.lower-dash > div{
    
    display: inline-block;
    margin-left: 0px;
    width: 49.1%;;
    height:100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    
}

#deadlines{
    background-color: ghostwhite;
    margin-right: 5px;
}

#high-priority{
    background-color: ghostwhite;
}
#planner-dash{
    background-color: ghostwhite;
    margin-right: 5px;
}

#visual-dash{
    background-color: ghostwhite;
}

h2{
    margin-top:0;
    margin-bottom: 0;
}
.side-labels{
    margin-top: 15px;
    margin-bottom: 0;
}

.pressed{
    opacity: 0.5;
}

.logo{
    width: 100px;
    height: 100px;

}